#include "resource.h"
#include <windows.h>

IDR_MAINFRAME MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Zoom &In", ID_VIEW_ZOOMIN
        MENUITEM "Zoom &Out", ID_VIEW_ZOOMOUT
    END
    POPUP "&Brush"
    BEGIN
        MENUITEM "Brush Mode", ID_TOOLS_BRUSH
        MENUITEM "Eraser Mode", ID_TOOLS_ERASER
        MENUITEM SEPARATOR
        MENUITEM "Increase Size", ID_TOOLS_INCREASE_SIZE
        MENUITEM "Decrease Size", ID_TOOLS_DECREASE_SIZE
        MENUITEM "Increase Opacity", ID_TOOLS_INCREASE_OPACITY
        MENUITEM "Decrease Opacity", ID_TOOLS_DECREASE_OPACITY
        MENUITEM "Increase Hardness", ID_TOOLS_INCREASE_HARDNESS
        MENUITEM "Decrease Hardness", ID_TOOLS_DECREASE_HARDNESS
        MENUITEM "Toggle Eraser", ID_TOOLS_TOGGLE_ERASER
    END
END

IDR_MAINFRAME ACCELERATORS
BEGIN
    "O",            ID_FILE_OPEN,           VIRTKEY, CONTROL
    "S",            ID_FILE_SAVE,           VIRTKEY, CONTROL
    VK_ADD,          ID_VIEW_ZOOMIN,         VIRTKEY, CONTROL
    VK_SUBTRACT,     ID_VIEW_ZOOMOUT,        VIRTKEY, CONTROL
    "E",            ID_TOOLS_ERASER,        VIRTKEY, CONTROL
    "B",            ID_TOOLS_BRUSH,         VIRTKEY, CONTROL
END

STRINGTABLE
BEGIN
    IDR_MAINFRAME           "CxImagePaint"
    IDR_CXIMAGEPTYPE        "PNG Document"
END
