#include "resource.h"
#include <windows.h>
#include <commctrl.h>

IDD_CXIMAGEPAINT_DIALOG DIALOGEX 0, 0, 420, 350
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_CAPTION | WS_SYSMENU
CAPTION "CxImagePaint (Dialog)"
FONT 9, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDC_CANVAS,"STATIC",SS_OWNERDRAW | WS_BORDER | WS_TABSTOP,8,8,404,240
    PUSHBUTTON      "Open...",IDC_BTN_OPEN,8,252,50,14
    PUSHBUTTON      "Save",IDC_BTN_SAVE,62,252,50,14
    PUSHBUTTON      "Color...",IDC_BTN_COLOR,116,252,50,14
    AUTOCHECKBOX    "Eraser",IDC_CHK_ERASER,172,254,50,10
    PUSHBUTTON      "Zoom +",IDC_BTN_ZOOMIN,228,252,50,14
    PUSHBUTTON      "Zoom -",IDC_BTN_ZOOMOUT,282,252,50,14
    LTEXT           "Size",IDC_STATIC,8,274,22,8
    CONTROL         "",IDC_SLIDER_SIZE,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,40,270,130,14
    LTEXT           "",IDC_LBL_SIZE,176,274,40,8
    LTEXT           "Opacity",IDC_STATIC,8,290,30,8
    CONTROL         "",IDC_SLIDER_OPACITY,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,40,286,130,14
    LTEXT           "",IDC_LBL_OPACITY,176,290,40,8
    LTEXT           "Hardness",IDC_STATIC,8,306,36,8
    CONTROL         "",IDC_SLIDER_HARDNESS,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,44,302,126,14
    LTEXT           "",IDC_LBL_HARDNESS,176,306,40,8
    LTEXT           "Spacing",IDC_STATIC,8,322,36,8
    CONTROL         "",IDC_SLIDER_SPACING,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,44,318,126,14
    LTEXT           "",IDC_LBL_SPACING,176,322,40,8
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "CxImagePaint"
END
